{% extends 'asrt_analytics/base.html' %}
{% block chart %}
{% if user.is_authenticated %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Incoming Cases & Alerts<span style="font-size: 11px">&nbsp (Annual)</span></h3>
                            <canvas id="sales-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Closed/Open Cases <span style="font-size: 11px">&nbsp (Annual)</span></h3>
                            <canvas id="team-chart"></canvas>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Incoming Cases & Alerts (Monthly)</h3>
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Rader chart</h3>
                            <canvas id="radarChart"></canvas>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Open & Closed Cases (Monthly)</h3>
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Cases By Type <span style="font-size: 11px">&nbsp (%YTD)</span></h3>
                            <canvas id="pieChart1"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Alerts By Type <span style="font-size: 11px">&nbsp (%YTD)</span></h3>
                            <canvas id="pieChart2"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Cases By Device Type <span style="font-size: 11px">&nbsp (%MTD)</span></h3>
                            <canvas id="pieChart3"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Cases By Device Type <span style="font-size: 11px">&nbsp (%YTD)</span></h3>
                            <canvas id="pieChart4"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endif %}
{% endblock %}