{% extends 'asrt_app/base.html' %}

{% block content %}



    {% if next %}
    <p>Hey you cant access that page</p>
    {% endif %}

    <form class="loginform" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {{form.username.label_tag}}
        {{form.username}}

        {{form.password.label_tag}}
        {{form.password}}

        {% if form.errors %}
        <p>Please enter a correct username and/or password</p>
        {% endif %}


        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">

    </form>


     <a href="/"><img class='backButton' src="https://image.flaticon.com/icons/svg/467/467272.svg"></a>

{% endblock %}