body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
.rightSideContent{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.topRowTools{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header {
    height: 20%;
    padding: 5px;
    margin: 0;
    background-color:	#E1E9F7;
    border-bottom: 2px solid #003049;
    color: #003049;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.notification-slider{
    height: 50px;
    border-bottom: 2px solid #003049;
}

.web-title{
    font-size: 38px;
    margin: 0;
}

.logo{
    height: 60px;
    width: 60px;
    margin-left: 20%;
}

#heartbeat{
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 40px;
    padding: 0 20px;
}

.container{
    display: flex;
    flex-direction: row;
}

.content{
    width: 76%;
    height: 88vh;
    display: flex;
    flex-direction: column;
}

.topStripe{
    display: flex;
    flex-direction: row;
}
.audioPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;

}
.audio-header{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: #003049;
    margin-left: 0.75%;
    margin-top: 0.5%;
    margin-bottom: 10%;
}

.audioBtns{
    height: 40px;
    width: 40px;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    border: #003049 thin solid;
    padding: auto auto;
    color: white;
    background-color: #003049;
    border-radius: 10%;
    cursor: pointer;
    padding: 5px;
    margin-top: 0.5%;
    font-size: 18px;
}

.audioBtns:hover{
    height: 40px;
    width: 40px;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    border: #003049 thin solid;
    padding: auto auto;
    color: #003049;
    background-color: white;
    border-radius: 10%;
    padding: 5px;
    margin-top: 0.5%;
    font-size: 18px;
}

.openCases {
    border-right: 2px solid #003049;
    width: 24%;
    height: 80vh;
    padding: 2px 10px;
    padding-bottom: 20px;
    display: inline-block;
    overflow: auto;
}

.filterButtons{
    height: 40px;
    width: 40px;
    margin: 2px;
    border-radius: 10px;
}

#all{
    background-color: white;
    border: black thin solid;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

#all:hover{
    background-color: black;
    border: black thin solid;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#high{
    background-color: #D62828;
    border: black thin solid;
    font-size: 16px;
    cursor: pointer;
}

#high:hover{
    background-color: white;
    color:#D62828;
    border: #D62828 thin solid;
    font-size: 16px;
    cursor: pointer;
}

#medium{
    background-color: #F77F00;
    border: black thin solid;
    font-size: 16px;
    cursor: pointer;
}

#medium:hover{
    background-color: white;
    color:#F77F00;
    border: #F77F00 thin solid;
    font-size: 16px;
    cursor: pointer;
}

#low{
    background-color: #FCBF49;
    border: black thin solid;
    font-size: 16px;
    cursor: pointer;
}

#low:hover{
    background-color: white;
    color:#FCBF49;
    border: #FCBF49 thin solid;
    font-size: 16px;
    cursor: pointer;
}

.cases{
    width: 24%;
}

fieldset:first-child{
    margin-top: 60px
}

.empty{
    margin: 0 20px;
    margin-top: 80px;
}

.container h2 {
    background-color: white;
    color: #003049;
}

.userNameDiv{
    text-align: center;
    background-color: white;
    color: #003049;
    border-radius: 5px;
    border: #003049 solid thin;
    padding: 12px;
    margin: 6px;
    margin-right: 12px;
    font-Size: 16px;
    width: 100px;
    height: auto;
}

.userNameDiv a{
    color: #003049;
    cursor: pointer;
}

.userNameDiv:hover a{
    color: white;
    cursor: pointer;
}

.userNameDiv:hover{
    background-color: #003049;
    color: white;
    border-radius: 5px;
    border: #003049 solid thin;
    padding: 12px;
    margin: 6px;
    margin-right: 12px;
    font-Size: 16px;
    width: 100px;
    height: auto;
}

#notificationAlerts{
    position: absolute;
    top: 1%;
    left: 40%;
    background: rgb(249, 149, 149);
    height: 80px;
    width: 270px;
    border: red solid thin;
    
}

#notificationAlerts p{
    padding: 2px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    
}

#carte{
    width: 500px;
    height: 350px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.loginPage{
    background-color: #E1E9F7;
    padding: 20px;
    margin: 15%;
    border-radius: 20px;
    border: 2px solid #003049;
    color: #003049;
}

#notLoggedIn{
    display: flex;
    justify-content:center;
    color: #003049;
}

.btn {
    display: flex;
    justify-content:center;
    background-color: #E1E9F7;
    border: #E1E9F7;
}

.loginform{
    background-color: #E1E9F7;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    border: 2px solid #003049;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00FFFF;
    color: black;
}

.backButton{
    height: 25px;
    width: 25px;
    padding: 10px;
    margin: 15px;
}

.backButton:hover{
    border: 2px solid #003049;
    border-radius: 20px;
}

.videoContainer {
    left: 40%;
    margin: 0px auto;
    width: 400px;
    height: 246px;
    border: 5px #333 solid;
}

#videoElement {
    width: 400px;
    height: 246px;
    background-color: #666;
}

.caseDescription{
    margin-top: 3%;
    display: none;
    border-top: 2px solid #003049;
    flex-direction: row;
}
.descriptionSideContainer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 185px;
}
#desContainer {
    max-height: none;
    min-height: inherit;
    height: auto;
    width: 400px;
    border: 1px solid #003049;
    border-radius: 5px;
}

#caseTitle {
    font-size: 18px;
    font-weight: bold;
    color: #003049;
}

.caseInfos{
    margin: 1%;
    width: 300px;
    font-size: 16px;
}

.descriptionBtns{
    margin-top: 0.2%;
}

.desBtn{
    height: 30px;
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    color: #003049;
    padding-top: 1px;
    cursor: pointer;
}

.desBtn:hover{
    height: 30px;
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    color: #003049;
    font-weight: 800;
    padding-top: 1px;
    cursor: pointer;
}

#submitBtnUpdateForm{
    height: 30px;
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    background: white;
    color: #003049;
    padding-top: 1px;
}

#submitBtnUpdateForm:hover{
    height: 30px;
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    color: #003049;
    background: white;
    font-weight: 800;
    padding-top: 1px;
}

.box .cust_num, .case_stat, .case_num, .address, .coordinates, .case_description, .jsonDate, #stopRecordingButton{
    display: none;
}

.date{
    font-size: 14px;
}

.event_type{
    font-size: 16px;
    font-weight: 700;
}

.box{
    border: thin solid black;
    cursor: pointer;
}

.high{
    background-color: #D62828;
}

.medium{
    background-color: #F77F00;
}

.low{
    background-color: #FCBF49;
}
.selectCaseTypeContainer{
    display: flex;
    flex-direction: row;
}
.caseBtnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003049;
}
.splitter{
    padding-top: 12px;
    font-size: 30px;
    margin: 0 6px;
}
#closeCaseBtn{
    margin-top: 6px;
    background-color: white;
    color: red;
    border: thin solid red;
    cursor: pointer;
    margin-left: 0.3%;
    border-radius: 3px;
    padding: 6px;

}

button:focus,
select:focus {
  outline: none;
}


#closeCaseBtn:hover{
    margin-top: 6px;
    background-color: red;
    color: white;
    border: thin solid red;
    cursor: pointer;
    margin-left: 0.3%;
    border-radius: 3px;
    padding: 6px;
}

#openCaseBtn{
    margin-top: 6px;
    display: none;
    background-color: white;
    color: green;
    border: thin solid green;
    cursor: pointer;
    margin-left: 0.3%;
    border-radius: 3px;
    padding: 6px;

}

#openCaseBtn:hover{
    margin-top: 6px;
    background-color: green;
    color: white;
    border: thin solid green;
    cursor: pointer;
    margin-left: 0.3%;
    border-radius: 3px;
    padding: 6px;
}
.openCases h2{
    color: #003049;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}
.casesButton{
    font-size: 21px;
    font-weight: 600;
    color: #003049;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

}

.casesButton:hover{
    font-size: 21px;
    font-weight: 600;
    color: #003049;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
