body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 20%;
    padding: 15px;
    margin: 0;
    background-color:	#E1E9F7;
    border-bottom: 2px solid #003049;
    color: #003049;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.web-title{
    font-size: 38px;
    margin: 0;
}

.logo{
    height: 75px;
    width: 75px;
    margin-left: 18%;
}

#heartbeat{
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 40px;
    padding: 0 20px;
}

.container{
    position: relative;
}

.content{
    width: 100%;
    height: 88vh;
    position: absolute;
    display: inline-block;
}

.audio-header{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #003049;
    margin-left: 0.75%;
    margin-top: 0.5%;
    margin-bottom: 0.1%;
}

.audioBtns{
    height: 28px;
    width: 28px;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    border: black thin solid;
    padding: auto auto;
    color: white;
    background-color: black;
    border-radius: 10%;
}

.audioBtns:hover{
    height: 28px;
    width: 28px;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    border: black thin solid;
    padding: auto auto;
    color: black;
    background-color: white;
    border-radius: 10%;
}

.openCases {
    border-right: 2px solid #003049;
    width: 24%;
    height: 80vh;
    padding: 2px 10px;
    padding-bottom: 20px;
    display: inline-block;
    overflow: auto;
}

.filterButtons{
    height: 40px;
    width: 40px;
    margin: 2px;
    border-radius: 10px;
}

#all{
    background-color: white;
    border: black thin solid;
    color: black;
    font-size: 16px;
}

#all:hover{
    background-color: black;
    border: black thin solid;
    color: white;
    font-size: 16px;
}

#high{
    background-color: #D62828;
    border: black thin solid;
    font-size: 16px;
}

#high:hover{
    background-color: white;
    color:#D62828;
    border: #D62828 thin solid;
    font-size: 16px;
}

#medium{
    background-color: #F77F00;
    border: black thin solid;
    font-size: 16px;
}

#medium:hover{
    background-color: white;
    color:#F77F00;
    border: #F77F00 thin solid;
    font-size: 16px;
}

#low{
    background-color: #FCBF49;
    border: black thin solid;
    font-size: 16px;
}

#low:hover{
    background-color: white;
    color:#FCBF49;
    border: #FCBF49 thin solid;
    font-size: 16px;
}

.cases{
    width: 24%;
}

fieldset:first-child{
    margin-top: 60px

}

.empty{
    margin: 0 20px;
    margin-top: 80px;
}

.container h2 {
    background-color: white;
    color: #003049;
}

.userNameDiv{
    background-color: white;
    color: #003049;
    border-radius: 5px;
    border: #003049 solid thin;
    padding: 12px;
    margin: 6px;
    margin-right: 12px;
    font-Size: 16px;
    width: 100px;
    height: auto;
    position: absolute;
    right: 27%;
}

.userNameDiv a{
    color: #003049;
    cursor: pointer;
}

.userNameDiv:hover a{
    color: white;
    cursor: pointer;
}
.userNameDiv:hover{
    background-color: #003049;
    color: white;
    border-radius: 5px;
    border: #003049 solid thin;
    padding: 12px;
    margin: 6px;
    margin-right: 12px;
    font-Size: 16px;
    width: 100px;
    height: auto;
    position: absolute;
    right: 27%;
}

.dateDiv{
    position: absolute;
    right: 40%;
    margin: 15px;
    font-weight: bold;
}

#carte{
    width: 500px;
    height: 350px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.loginPage{
    background-color: #F0FFFF;
    padding: 20px;
    margin: 15%;
    border-radius: 20px;
    border: 2px solid red;
}

#notLoggedIn{
    display: flex;
    justify-content:center;
    color: #003049;
}

.btn {
    display: flex;
    justify-content:center;
    background-color: #F0FFFF;
    border: #F0FFFF;
}

.loginform{
    background-color: #F0FFFF;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    border: 2px solid red;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00FFFF;
}

.backButton{
    height: 25px;
    width: 25px;
    padding: 10px;
    margin: 15px;
}

.backButton:hover{
    border: 2px solid red;
    border-radius: 20px;
}

#container {
    position: absolute;
    top: 17%;
    left: 40%;
    margin: 0px auto;
    width: 400px;
    height: 243px;
    border: 5px #333 solid;
}

#videoElement {
    width: 400px;
    height: 243px;
    background-color: #666;
}

.caseDescription{
    border-top: 2px solid #003049;
    width: 950px;
    height: 40px;
}

.desContainer {
    height: 70px;
    width: 400px;
    position: absolute;
    left: 40%;
    top: 78%;
    margin-bottom: 0px;
    border: 1px solid #003049;
    padding: 7px;
}

#caseTitle {
    position: absolute;
    left: 40%;
    top: 74%;
    font-size: 18px;
    font-weight: bold;
    color: #003049;
}

.caseInfos{
    margin: 1%;
}

.box .cust_num, .case_stat, .case_num, .address, .coordinates{
    display: none;
}

.date{
    font-size: 14px;
}

.event_type{
    font-size: 16px;
    font-weight: 700;
}

.box{
    border: thin solid black;
    cursor: pointer;
}





