{% extends 'asrt_app/base.html' %}

{% block content %}

    <h1>This is the index page!</h1>
    {% if user.is_authenticated %}
    <h3>Your name is: {{ user.username }}</h3>


    {% for Post in alerts %}
    <fieldset class="box">
        <legend class="date">{{ Post.date }}</legend>
        <span class="event_type">{{ Post.event_type }}</span>
        <div class="cust_num">{{ Post.cust_num }}</div>
        <div class="case_stat">{{ Post.case_stat }}</div>
        <div class="case_num">{{ Post.case_num }}</div>
    </fieldset>

{% empty %}
    <div class="empty">
        <p>No messages...
            <br>
            Click the '+' button to add a new message</p>
    </div>
{% endfor %}

{#Button + to add a new post #}
<div class="addDiv">

        <button id="addButton"><i class="fas fa-plus"></i></button>

</div>

<div id="toAdd">
    <form action="/" method="POST">
        <fieldset id="addBox">
            <legend class="date">{{ date }}</legend>
            <span class="event_type">
                <input placeholder="Type of the event" name="event_type" required>
            </span>
            <span class="text">
                <input placeholder="Your Number" name="cust_num" required>
            </span>
            <div class="case_stat">
                <input placeholder="Status" name="case_stat" required>
            </div>
        </fieldset>
        <div id="dropCheck" class="addDiv">
            <button type="submit" value="submit" id="check">
                <i class="fas fa-check"></i>
            </button>
            <button type='button' id="drop" style="background: red;">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </form>

</div>
{% else %}
    <h3>You are not logged in</h3>
{% endif %}

{% endblock %}